################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LongestConsecutiveSubsequence/obj
/LongestConsecutiveSubsequence/bin/Debug/netcoreapp3.1
/LongestConsecutiveSubsequence/.vs/LongestConsecutiveSubsequence

*/obj
*/bin
*/.vs
*/.vscode